@model IEnumerable<Kursach.Models.Administration.UsersViewModel>
@{ await Html.RenderPartialAsync("AdminNavPanel"); }

<a asp-controller="Administration" asp-action="InsertUser">Insert</a>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Pass</th>
            <th>Date</th>
            <th>Address</th>
            <th>Role</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Password</td>
            <td>@item.DateOfRegistration</td>
            <td>@item.Address</td>
            <td>@item.Role</td>
            <td>
                <a asp-controller="Administration" asp-action="UpdateUser" asp-route-id="@item.Id">Update</a>
                <a asp-controller="Administration" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>