@{ await Html.RenderPartialAsync("ClientsNavPanel"); }
@model IEnumerable<Kursach.Models.Clients.SchoolerViewModel>

    <style>
        .show-table {
            margin-left: 240px;
        }
    </style>
    <div class="show-table">
        <form>
            <label>Input school: </label>
            <input type="text" name="schName" />
            <label>Input class: </label>
            <input type="text" name="clName" />
            <input type="submit" value="find" />
        </form>

        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>IdentityNumber</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Date of Register</th>
                    <th>School</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Client.IdentityNumber</td>
                        <td>@item.Client.Name</td>
                        <td>@item.Client.Address</td>
                        <td>@item.Client.Date</td>
                        <td>@item.Schooler.SchoolName</td>
                        <td>@item.Schooler.ClassName</td>
                    </tr>
                }
            </tbody>
        </table>
</div>